################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureSecondMvcApp/.vs/AzureSecondMvcApp
/AzureSecondMvcApp/AzureSecondMvcApp/bin
/AzureSecondMvcApp/AzureSecondMvcApp/obj/Debug
/AzureSecondMvcApp/packages
/AzureSecondMvcApp/AzureSecondMvcApp/obj/Release
/AzureSecondMvcApp/AzureSecondMvcApp/Properties/PublishProfiles
